/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-bottom: 2.5rem;
}

button,
input {
  @apply focus:outline-none;
}
